{% extends "layout.html" %}
{% block content %}
<div class="home-container">
    <div class="profile-section">
        <img src="static\images\pic3.JPEG" alt="My Profile Picture" class="home-pic">
    </div>
    
    <div class="bio-section">
        <h1>Hi, I'm Gloria Atolagbe</h1>
        <p class="lead-text">Computing & Security Technology Student at Drexel University </p>
        <div class="accent-box">
            <p>I am an aspiring IT professional and web developer with a passion for learning and a strong interest in cybersecurity.</p>
        </div>
        <div class="accent-box"></div>
        <p>I am passionate about technology and eager to grow as a professional in the field. 
            I enjoy learning new skills, tackling challenges with a positive mindset, and applying 
            constructive feedback to improve. My goal is to turn my academic foundation into real-world 
            experience and contribute meaningfully to the tech industry.</p>
        <p>Feel free to browse my resume or reach out via the contact tab!</p>
    </div>
</div>
{% endblock %}